$grammar: "#4d4cab";
$grammar-light: "#5a5ab2";
$vocabulary: "#fe808b";
$vocabulary-light: "#ff919b";
$phrasal-verbs: "#9598d7";
$phrasal-verbs-light: "#a3a6db";
$listening: "#5e80f4";
$listening-light: "#5e93f4";

$flex-end: (
  "display": flex,
  "justify-content": flex-end,
  "align-items": center,
);
